<?xml version='1.0' encoding='utf-8'?>
<widget
    id="id.sch.mtsn4jombang.sisfour"
    version="1.0.0"
    android-versionCode="10000"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
>
    <name>SisFour</name>

    <description>
        SisFour Android wrapper for MTsN 4 Jombang.
    </description>

    <author>
        MTsN 4 Jombang
    </author>

    <content src="index.html" />

    <platform name="android">
        <preference
            name="AndroidEdgeToEdge"
            value="false"
        />
        <preference
            name="AndroidWindowSplashScreenAnimatedIcon"
            value="resources/branding/mtsn4jombang-logo-master.png"
        />
        <preference
            name="AndroidWindowSplashScreenBackground"
            value="#FFFFFF"
        />
        <preference
            name="AndroidWindowSplashScreenIconBackgroundColor"
            value="#FFFFFF"
        />
        <preference
            name="AndroidWindowSplashScreenAnimationDuration"
            value="200"
        />

        <icon
            density="ldpi"
            src="resources/branding/mtsn4jombang-logo-master.png"
            foreground="resources/branding/mtsn4jombang-logo-master.png"
            background="resources/branding/adaptive-background.xml"
        />
        <icon
            density="mdpi"
            src="resources/branding/mtsn4jombang-logo-master.png"
            foreground="resources/branding/mtsn4jombang-logo-master.png"
            background="resources/branding/adaptive-background.xml"
        />
        <icon
            density="hdpi"
            src="resources/branding/mtsn4jombang-logo-master.png"
            foreground="resources/branding/mtsn4jombang-logo-master.png"
            background="resources/branding/adaptive-background.xml"
        />
        <icon
            density="xhdpi"
            src="resources/branding/mtsn4jombang-logo-master.png"
            foreground="resources/branding/mtsn4jombang-logo-master.png"
            background="resources/branding/adaptive-background.xml"
        />
        <icon
            density="xxhdpi"
            src="resources/branding/mtsn4jombang-logo-master.png"
            foreground="resources/branding/mtsn4jombang-logo-master.png"
            background="resources/branding/adaptive-background.xml"
        />
        <icon
            density="xxxhdpi"
            src="resources/branding/mtsn4jombang-logo-master.png"
            foreground="resources/branding/mtsn4jombang-logo-master.png"
            background="resources/branding/adaptive-background.xml"
        />
    </platform>
</widget>
